* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.left {
    width: 50vw;
    height: 90vh;
    background-color: red;
}

.right {
    width: 50vw;
    height: 90vh;
    background-color: blue;
}

.img {
    width: 100vw;
}

@media only screen and (max-width:800px) {
    body {
        background-color: red;
    }  
        
}

ul {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    color: white;
    list-style: none;
    justify-content: space-around;
}


a {
    text-decoration: none;
    color: white;
}
